flask
flask-sqlalchemy
flask-migrate
flask-script
flask_restful
flask_jwt_extended
psycopg2-binary
gunicorn
pylint
flake8
pytest==4.3.1
pytest-cov
pylint-flask
coveralls==1.7.0
passlib

# chat
flask-socketio
eventlet
